# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binary, built with `go test -c`
*.test

# go coverage tool
*.out

# workspace
go.work

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build output
/pray
